In [16]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Create a sample DataFrame with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, np.nan, 30, np.nan, 22],
    'Gender': ['F', 'M', np.nan, 'M', 'F'],
    'Score': [85, 90, np.nan, 88, 92]
}

df = pd.DataFrame(data)
print("Original DataFrame with Missing Values:\n")
print(df)

# Detect missing values
print("\nMissing Values in Each Column:\n")
print(df.isnull().sum())

# Impute missing numerical values with mean
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Score'].fillna(df['Score'].mean(), inplace=True)

# Impute missing categorical values with mode
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

print("\nDataFrame After Imputing Missing Values:\n")
print(df)

# Verify that there are no missing values left
print("\nAny Missing Values Remaining?\n")
print(df.isnull().sum())

WARNING:py.warnings:<ipython-input-16-19c97570b7e7>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

WARNING:py.warnings:<ipython-input-16-19c97570b7e7>:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Score'].fillna(df['Score'].mean(), inplace=True)

WARNING:py.warnings:<ipython-input-16-19c97570b7e7>:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

Original DataFrame with Missing Values:

      Name   Age Gender  Score
0    Alice  25.0      F   85.0
1      Bob   NaN      M   90.0
2  Charlie  30.0    NaN    NaN
3    David   NaN      M   88.0
4      Eve  22.0      F   92.0

Missing Values in Each Column:

Name      0
Age       2
Gender    1
Score     1
dtype: int64

DataFrame After Imputing Missing Values:

      Name        Age Gender  Score
0    Alice  25.000000      F  85.00
1      Bob  25.666667      M  90.00
2  Charlie  30.000000      F  88.75
3    David  25.666667      M  88.00
4      Eve  22.000000      F  92.00

Any Missing Values Remaining?

Name      0
Age       0
Gender    0
Score     0
dtype: int64